databases:
  - name: solar-saarthi-db
    databaseName: solar_saarthi_db
    user: solar_saarthi_user
    plan: free

services:
  - type: web
    name: solar-saarthi
    runtime: python
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn run:app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: solar-saarthi-db
          property: connectionString
